.ia-field {
  margin-bottom: 20px;
}
.ia-field.separated {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.ia-field:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0 none;
}
.ia-field .title {
  float: left;
  width: 160px;
  font-weight: bold;
  text-align: right;
}
.ia-field .content {
  margin-left: 180px;
}
.ia-field.plain .title,
.ia-field.plain .content {
  float: none;
  text-align: left;
  width: auto;
  margin: 0;
}
